.stars {
  display: flex;
  .full {
    path {
      fill: #02d693;
    }
  }
  .half {
    color: red;
    svg:nth-child(1) {
      color: #02d693;
    }
  }
  .empty {
    svg {
      color: #02d693;
    }
  }
}
