@mixin colors {
  --primary: #105e46;
  --accent: #12805d;
  --success: #02d693;
  --light: #bfd1e5;
  --tertiary: #60695c;
  --dark: #1a1f16;
  --placeholder: #1a1f1680;
  --white: #fff;
  --danger: #e5252c;
  --warning: #e6d117;
  --bg-primary: #ededed;
}
